{% extends "weatherApp/base.html" %}
{% block content %}
<div  class="container mt-5">
    <h1 style="font-family: 'Pacifico', cursive; color:white;" class="text-center alert bg-primary">Weather Report</h1>
    <div class="container-sm alert bg-warning">
        <h2 style="font-family: 'DM Serif Display', serif;" class="text-center"><strong> City Name:</strong> {{city}}, {{country_code}}</h2>
          <div class="row">
        <div class="col p-5">
            <h6 class="lead text-left"><strong> Temperature: </strong>{{temp}}</h6>
            <h6 class="lead text-left"><strong> Feels like: </strong>{{feels_like}}</h6>
            <h6 class="lead text-left"><strong> Pressure: </strong>{{pressure}}</h6>
            <h6 class="lead text-left"><strong> Humidity: </strong>{{humidity}}</h6>
            <h6 class="lead text-left"><strong> Co-ordinates: </strong>{{coordinate}}</h6>
        </div>
        <div class="col ">

        </div>
    </div>
    </div>
</div>
{% endblock content %}